body {
    font-family: Montserrat;
}

#title {
    background-color: #FF4C68;
    color: #fff;
}

#title h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}

.download-btn {
    margin: 5% 3% 5% 0%;
}

.title-img {
    width: 60%;
    transform: rotate(15deg);

}

/* Features Sections */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

p {
    color: #8f8f8f;
}

.icon:hover {
    color: #ff4c68;
}


/* Testimonials */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

h2 {
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
}

/* Press Section */

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-img {
        transform: rotate(0);
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 100px 15% 40px;
}
#cta h1 {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #fff;
  }

#cta .btn {
    margin: 5% 3% 5% 0;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 100px 15% 20%;

}
#footer i {
    color: gray;
}
.spanSpace {
    padding-left: 25px;
    padding-right: 25px;
  }
.social {
    padding-bottom: 5%;
  }